.table-row {
  border-bottom: 1px solid grey;
  padding: 5px 0 5px 0;
}

.table-col  {
  border-left: 1px solid grey;
}

.table-x {
  min-width: 60px;
  border-right: 1px solid grey;
}

.reservation:hover {
  cursor: pointer;
}

.toggled {
  border: 2px solid green;
}

.time-header {
  border-left: 1px solid grey;
}

.table-header {
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 10px;
}
